body, html{
    background-color: #fff;
}

#home{
    position: fixed;
    background-color: #ff0033;
    padding: 10px 20px;
    margin: 20px;
}

#home a{
    color: #fff;
}

#home a:hover{
    color: #00ff33;
}

#cornerImage{
    width: 30%;
    min-width: 200px;
    bottom:0;
    position: absolute;
}

#content{
    margin-left: 30%;
}

a{
    color: #00ff33;
    text-decoration:none;
    font-weight: bold;
}

a:hover{
    color: #ff0033;
}

#txt{
    right:0;
    width: 50%;
    min-width: 300px;
    position: absolute;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
}